.poses {
  &__list {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__links {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
