.footer {
  width: 100%;
  height: 50px;
  background-color: $darken-color;
  position: fixed;
  bottom: 0;
  z-index: 1000;

  @media (max-width: $media-phone) {
    height: 120px;
  }
  &__holder {
    position: absolute;
    bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    font-family: $font-main;
    @media (max-width: $media-phone) {
      bottom: 50px;
      width: 280px;
    }
  }
  &__version {
    position: absolute;
    color: rgba(#ffffffff, 0.5);
    bottom: 10px;
    font-family: $font-main;
    font-size: 12px;
    left: 5px;
  }
  &__text {
    font-size: 16px;
    line-height: 20px;
    @media (max-width: $media-phone) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__authors {
    font-size: 12px;
    line-height: 16px;
  }
  &__email {
    font-family: $font-main;
    position: absolute;
    color: white;
    bottom: 20px;
    right: 10px;
    @media (max-width: $media-phone) {
      bottom: 10px;
    }
  }
}
