.not-found {
  text-align: center;
  font-family: $font-main;
  font-weight: 400;
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
  p {
    font-size: 36px;
    line-height: 46px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__link {
    @include link-style;
  }
}
