.css-187mznn-MuiSlider-root {
  color: $color-yellow !important;
}
span.MuiSlider-rail {
  color: $color-darkgrey;
}
span.MuiSlider-track {
  border: none;
  background-image: linear-gradient(
    to right,
    $color-blue,
    $color-yellow,
    $color-red
  );
}
