.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  &__holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

    span {
      font-size: 35px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  &__settings {
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__settings-label {
    z-index: 2 !important;
    height: 150%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &:active {
      color: $dark-color;
    }
  }
  &__radio {
    opacity: 0;
    z-index: 2 !important;
    cursor: pointer;
    &:checked + .form__settings-label {
      font-weight: 400;
    }
  }

  &__input {
    z-index: 2;
    width: 28%;
    height: 120%;
    border: none;
    background-color: white;
    font-size: 18px;
    text-align: center;

    &:focus {
      background-color: $light-color;
      outline: none;
      border-radius: 0;
    }
  }
  &__submit {
    font-family: $font-main;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: $darken-color;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 20px 35px 20px 35px;
    cursor: pointer;
    &:active {
      background-color: $dark-color;
      box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    }
    &:focus {
      outline: none;
    }
  }
}

@mixin border {
  width: 30%;
  height: 150%;
  border: 1px solid black;
  position: absolute;
  top: -30%;
  z-index: 0 !important;
  transition: left 1s;
}

.b {
  &-left {
    @include border;
    left: -1%;
  }
  &-center {
    @include border;
    left: 36%;
  }
  &-right {
    @include border;
    left: 67%;
  }
}

.d {
  &-left {
    @include border;
    left: -4%;
  }
  &-center {
    @include border;
    left: 30%;
  }
  &-right {
    @include border;
    left: 70%;
  }
}

.invisible {
  display: none;
}
