.how-to-play-button {
  @include link-style;
  position: absolute;

  right: 5%;
  top: 5%;

  background-color: inherit;
  &:active {
    outline: none;
  }
  @media (max-width: $media-phone) {
    background-color: rgba(#ffffff, 0.8);
    top: 2%;
  }
}
.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(#ffffff, 0.5);
}
.how-to-play {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 300;
  position: absolute;
  background-color: white;
  border-radius: 40px;
  z-index: 10 !important;
  border: 1px dashed $dark-color;
  @media (max-width: $media-phone) {
    width: 90%;
    height: 60%;
  }
  &__close-btn {
    border: 1px solid black;
    background-color: inherit;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-family: $font-main;
    color: $dark-color;
    cursor: pointer;
    &:hover {
      color: black;
      font-size: 16px;
    }
    &:active {
      outline: none;
      background-color: $light-color;
    }
  }
  &__title {
    font-family: $font-main;
    font-size: 50px;
    color: $dark-color;
    @media (max-width: $media-phone) {
      margin-bottom: 40px;
    }
  }
  &__text {
    font-family: $font-main;
    font-size: 20px;
    line-height: 27px;
    width: 60%;
    margin-top: 5%;
    letter-spacing: 1.6px;
    @media (max-width: $media-phone) {
      font-size: 18px;
      line-height: 24px;
    }

    &-small {
      font-family: $font-main;
      font-size: 25px;
      line-height: 40px;
      color: $dark-color;
      @media (max-width: $media-phone) {
        margin-top: 10px;
      }
    }
  }
}
