.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/hero.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70%;
  height: 70%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-main;
  font-weight: 300;

  &__title {
    font-size: 60px;
    border-radius: 60px;
  }
}
