.header {
  position: fixed;
  width: 110%;
  height: 40px;
  left: 0;
  top: 0px;
  background-color: black;
  z-index: 10;
  border-radius: 0 0 80% 20%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  &__logo {
    width: 30%;
    height: auto;
    position: relative;
    top: 5px;
    left: 5px;
  }
}
