$dark-color: #000000;
$darken-color: #413e33;

$color-blue: #19d3fc;
$color-green: #8de47d;
$color-yellow: #fff500;
$color-orange: #ff7a00;
$color-red: #ff0000;

$medium-color: #95d1d9;
$light-color: #d6f9fe;
