@mixin link-style {
  color: $dark-color;
  text-decoration: none;
  font-family: $font-main;
  font-size: 24px;
  font-weight: 300;
  border: 1px solid $dark-color;
  padding: 10px;
  cursor: pointer;
  &:hover {
    color: black;
    border: 1px solid black;
  }
  &:active {
    background-color: $light-color;
  }
}

@mixin border {
  width: 31%;
  height: 150%;
  border: 1px solid black;
  position: absolute;
  top: -30%;
  transition: left 0.5s;
}
